body {
  background: url("../images/background_form.png");
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

#form-container {
  position: relative;
  box-sizing: border-box;
  font-size: 2vw;
  width: 30em;
  margin: 3em auto 1.5em;
  font-family: "poppins";
  background: url("../images/form_back.png");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 0.8em;
  overflow: hidden;
  padding: 0;
  padding-left: 15em;
}

#form-image {
  position: absolute;
  left: 5%;
  width: 40%;
  top: 50%;
  transform: translateY(-50%);
}

#main-form {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background: #32425a;
  padding: 0.3em;
  height: 18em;
}

/* #main-form > form {
  position: relative;
  padding: 0.5em 0 0;
  margin: 0;
  width: 100%;
}

#main-form > form > input {
  display: block;
  font-size: 0.7em;
  height: 2.7em;
  box-sizing: border-box;
  margin: 1.3em auto 0;
  width: 80%;
  border-radius: 0.2em;
  outline: 0;
  border: 0;
  box-shadow: 0.1em 0.05em 0 #444;
}

#main-form > form > input[data-box="text"] {
  padding-left: 2.4em;
}

#main-form > form > input[data-box="button"] {
  background-color: #44a5c0;
  font-size: 0.75em;
  font-weight: 200;
  letter-spacing: 0.06em;
  color: #fff;
  cursor: pointer;
}

#main-form > form > i {
  font-size: 0.7em;
  position: absolute;
  width: 2em;
  height: 2em;
}

#main-form > form > i::after {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  top: 2em;
  left: 2.6em;
  content: "";
}

#main-form > form > i.email::after {
  background-image: url("../images/svg/mail.svg");
  background-size: 100% 100%;
}

#main-form > form > i.password::after {
  background-image: url("../images/svg/password.svg");
  background-size: 100% 100%;
}

main-form > center {
  padding: 0;
  margin: 0;
}

#main-form > center > a {
  padding: 0;
  line-height: 1.1em;
  color: #fff;
  font-size: 0.65em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-shadow: 0.15em 0.05em 0 #000;
  font-family: "avenir-next";
}

#form-container > hr {
  padding: 0;
  margin: 0 auto;
  height: 0.1em;
  width: 75%;
  background: #fff;
  box-shadow: 0.02em 0.05em #000;
}

#form-redirect {
  padding: 0;
  margin: 1.4em 0 0;
  line-height: 1.1em;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.6em;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-shadow: 0.05em 0.15em 0em #000;
  font-family: "avenir-next";
}

#form-redirect > a {
  color: unset;
  text-decoration: unset;
} */

@media (min-width: 1025px) and (max-width: 1280px) {
  #form-conatiner {
    font-size: 2.4vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #form-container {
    font-size: 3.1vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #form-container {
    font-size: 3.8vw;
    width: 15em;
    padding-top: 6em;
    padding-left: 0;
    background-size: 100% 25%;
  }
  #form-image {
    top: 0;
    width: 80%;
    left: 10%;
    transform: translateY(0);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #form-container {
    font-size: 4.6vw;
    width: 15em;
    padding-top: 6em;
    padding-left: 0;
    background-size: 100% 25%;
  }
  #form-image {
    top: 0;
    width: 80%;
    left: 10%;
    transform: translateY(0);
  }
}

@media (max-width: 320px) {
  #form-container {
    font-size: 5.3vw;
    width: 15em;
    padding-top: 6em;
    padding-left: 0;
    background-size: 100% 25%;
  }
  #form-image {
    top: 0;
    width: 80%;
    left: 10%;
    transform: translateY(0);
  }
}
